# Mobile App for Lottery Addiction
--------
In this project, we are going to contribute to the development of a mobile app which is aimed to both prevent and treat lottery addiction by helping people better estimate their chances of winning.

The app idea comes from a medical institute which is specialized in treating gambling addictions. The institute already has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities. For the first version of the app, they want us to focus on the 6/49 lottery and build functions that can answer users the following questions:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three) winning numbers on a single ticket?

The scenario we're following throughout this project is fictional â€” the main purpose is to practice applying probability and combinatorics (permutations and combinations) concepts in a setting that simulates a real-world scenario.

In [1]:
def factorial(n):
    final_product = 1
    for i in range(n,0,-1):
        final_product *= i
    return final_product

def combinations(n, k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator/denominator

# One Ticket Probability

In [10]:
def one_ticket_probability(user_numbers):
    
    total_combination = combinations(49,6)
    probability_one_ticket = 1/total_combination
    percentage_form = probability_one_ticket * 100

    print('''Your chances to win the big prize with the numbers {} are {:.7f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(user_numbers,
                    percentage_form, int(total_combination)))
    
test = [6,6,6,6,6,6]    
one_ticket_probability(test)

Your chances to win the big prize with the numbers [6, 6, 6, 6, 6, 6] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

## Exploring the historical data of Canada 6/49 lottery

In [11]:
import pandas as pd
canada_lottery = pd.read_csv("649.csv")
canada_lottery.shape

(3665, 11)

In [12]:
canada_lottery.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [13]:
canada_lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

## Extract Row from Historical Data

In [14]:
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row
winning_numbers = canada_lottery.apply(extract_numbers, axis=1)
winning_numbers

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
5        {8, 41, 20, 21, 25, 31}
6       {33, 36, 42, 18, 25, 28}
7        {7, 40, 16, 17, 48, 31}
8        {5, 38, 37, 10, 23, 27}
9        {4, 37, 46, 15, 48, 30}
10        {33, 38, 7, 9, 42, 21}
11      {36, 11, 43, 17, 19, 20}
12       {37, 7, 14, 47, 17, 20}
13      {35, 44, 25, 28, 29, 30}
14       {36, 39, 8, 41, 47, 18}
15       {9, 12, 13, 14, 44, 48}
16       {4, 40, 43, 44, 14, 18}
17      {34, 35, 36, 13, 16, 18}
18      {36, 11, 23, 25, 28, 29}
19       {37, 7, 45, 18, 23, 25}
20      {37, 11, 45, 18, 19, 31}
21       {8, 14, 16, 48, 18, 31}
22       {4, 11, 45, 23, 24, 25}
23        {33, 34, 3, 4, 48, 19}
24       {5, 43, 17, 21, 28, 30}
25       {36, 6, 38, 46, 17, 24}
26        {4, 9, 10, 11, 43, 46}
27       {32, 33, 7, 13, 45, 23}
28      {35, 37, 11, 18, 22, 28}
29      {35, 45, 48, 25, 26, 31}
                  ...
3635     {2, 10, 43, 44, 48, 28}
3636      {1, 33, 9, 10, 43, 19}
3637    {35, 43, 44, 46, 16, 17}
3638       {1, 5, 39, 9, 41, 12}
3639     {9, 11, 45, 49, 28, 30}
3640    {11, 12, 46, 19, 24, 28}
3641      {3, 7, 43, 47, 22, 26}
3642       {34, 6, 8, 9, 40, 13}
3643    {36, 40, 47, 49, 18, 22}
3644      {32, 3, 7, 41, 10, 43}
3645     {1, 36, 11, 48, 49, 19}
3646    {39, 12, 17, 19, 22, 27}
3647    {41, 12, 49, 19, 20, 30}
3648    {40, 10, 46, 14, 16, 15}
3649    {33, 34, 44, 46, 24, 31}
3650      {4, 37, 36, 7, 49, 28}
3651     {33, 4, 48, 18, 24, 26}
3652    {36, 37, 15, 17, 21, 24}
3653     {34, 37, 6, 44, 17, 21}
3654    {39, 46, 19, 21, 28, 30}
3655    {34, 38, 44, 14, 15, 28}
3656      {4, 9, 42, 44, 15, 20}
3657    {39, 12, 13, 44, 16, 23}
3658     {38, 39, 9, 14, 17, 21}
3659     {32, 2, 40, 45, 49, 26}
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

**check_historical_occurrence()** function that takes in the user numbers and the historical numbers and prints information with respect to the number of occurrences and the probability of winning in the next drawing.

In [22]:
def check_historical_occurance(user_numbers, historical_numbers):
    user_nums_set = set(user_numbers)
    occurence_check = user_nums_set == historical_numbers
    total_occurence = occurence_check.sum()
    
    if total_occurence ==0:
        print('''The combination of {} has never occuraed. Your chances to win the big prize with the numbers {} are 0.0000072%. In other words, you have a 1 in 13,983,816 chances to win.'''.format(user_numbers, user_numbers))
    
    else:
        print('''The combination of {} has  occuraed {} times. Your chances to win the big prize with the numbers {} are 0.0000072%. In other words, you have a 1 in 13,983,816 chances to win.'''. format(user_numbers, total_occurence, user_numbers))

In [23]:
test = [12,34,23,14,21,34]
check_historical_occurance(test,winning_numbers)

The combination of [12, 34, 23, 14, 21, 34] has never occuraed. Your chances to win the big prize with the numbers [12, 34, 23, 14, 21, 34] are 0.0000072%. In other words, you have a 1 in 13,983,816 chances to win.

In [24]:
test = [39, 12, 17, 19, 22, 27]
check_historical_occurance(test,winning_numbers)

The combination of [39, 12, 17, 19, 22, 27] has  occuraed 1 times. Your chances to win the big prize with the numbers [39, 12, 17, 19, 22, 27] are 0.0000072%. In other words, you have a 1 in 13,983,816 chances to win.

# Multi-ticket Probability

In [25]:
def multi_ticket_probability(n_tickets):
    
    total_combination = combinations(49,6)
    probability_one_ticket = n_tickets/total_combination
    percentage_form = probability_one_ticket * 100
    
    if n_tickets == 1:
        print('''Your chances to win the big prize with the numbers {} are {:.7f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(n_tickets,percentage_form, int(total_combination)))
    
    else:
        combination_simplified = round(total_combination/n_tickets)
        
        print('''Your chances to win the big prize with the numbers {} are {:.7f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(n_tickets,percentage_form, int(combination_simplified)))

In [26]:
test = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for i in test:
    multi_ticket_probability(i)
    print('-------------------------------------')

Your chances to win the big prize with the numbers 1 are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.
-------------------------------------
Your chances to win the big prize with the numbers 10 are 0.0000715%.
In other words, you have a 1 in 1,398,382 chances to win.
-------------------------------------
Your chances to win the big prize with the numbers 100 are 0.0007151%.
In other words, you have a 1 in 139,838 chances to win.
-------------------------------------
Your chances to win the big prize with the numbers 10000 are 0.0715112%.
In other words, you have a 1 in 1,398 chances to win.
-------------------------------------
Your chances to win the big prize with the numbers 1000000 are 7.1511238%.
In other words, you have a 1 in 14 chances to win.
-------------------------------------
Your chances to win the big prize with the numbers 6991908 are 50.0000000%.
In other words, you have a 1 in 2 chances to win.
-------------------------------------
Your chances to win the big prize with the numbers 13983816 are 100.0000000%.
In other words, you have a 1 in 1 chances to win.
-------------------------------------

# Less Winning Numbers

In [30]:
def probability_less_6(n_winning_numbers):
    n_combinations_tickets = combinations(6, n_winning_numbers)
    n_combinations_remining = combinations(49-n_winning_numbers, 6-n_winning_numbers)
    successful_outcomes = n_combinations_tickets * n_combinations_remining
    n_combinations_total = combinations(49,6)
    
    probability = successful_outcomes/n_combinations_total
    probability_percentage = probability * 100
    
    combinations_simplified = round(n_combinations_total/ successful_outcomes)
    
    print('''Your chances of having {} winning numbers with this ticket are {:.6f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(n_winning_numbers, probability_percentage,
                                                               int(combinations_simplified)))

In [31]:
for test in [2, 3, 4, 5]:
    probability_less_6(test)
    print('--------------------------') # output delimiter

Your chances of having 2 winning numbers with this ticket are 19.132653%.
In other words, you have a 1 in 5 chances to win.
--------------------------
Your chances of having 3 winning numbers with this ticket are 2.171081%.
In other words, you have a 1 in 46 chances to win.
--------------------------
Your chances of having 4 winning numbers with this ticket are 0.106194%.
In other words, you have a 1 in 942 chances to win.
--------------------------
Your chances of having 5 winning numbers with this ticket are 0.001888%.
In other words, you have a 1 in 52,969 chances to win.
--------------------------